<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Collage</title>
  <link rel="stylesheet" href="assets/css/style.css">  

</head>
<body>

<div class="collage">
  <div class="video_wide1">
    <video src="videos/27-9_1.mp4" controls></video>
  </div>
  <div class="video_center">
    <video src="videos/motionaura.mp4" controls></video>
  </div>
  <div class="video_wide2">
    <video src="videos/27-9_2.mp4" controls></video>
  </div>
  <div class="video_tall1">
    <video src="videos/4-3_1.mp4" controls></video>
  </div>
  <div class="video_tall2">
    <video src="videos/4-3_2.mp4" controls></video>
  </div>
  <div class="video_square1">
    <video src="videos/1-1_1.mp4" controls></video>
  </div>
  <div class="video_square2">
    <video src="videos/1-1_2.mp4" controls></video>
  </div>
  <div class="video_standard1">
    <video src="videos/3-4_1.mp4" controls></video>
  </div>
  <div class="video_standard2">
    <video src="videos/3-4_2.mp4" controls></video>
  </div>
</div>

</body>
</html>
